@media (max-width: 600px) {

    body {
        width: 100%;
    }


    nav {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 12px 0;
    }

    .nav-logo {
        order: 2;
        width: auto;
        margin-left: 12px;
    }

    .nav-logo a {
        padding-left: 0;
        font-size: 18px;
    }

    .nav-burger-menu {
        display: block;
        order: 1;
        width: auto;
        color: #c9d4b0;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-menu {
        display: none;
    }

    .nav-user-btns {
        order: 3;
        width: 100%;
        flex-direction: column;
        /* gap: 10px; */
        padding: 12px 20px 0;
    }

    .nav-user-btns>li {
        width: 100%;
    }

    .nav-user-btns>li>button {
        width: 100%;
    }

    .content-info {
        flex-direction: column;
        padding: 36px 20px;
        gap: 0;
    }

    .content-info-welcome {
        width: 100%;
        text-align: center;
    }

    .content-info-welcome h2 {
        font-size: 48px;
    }

    .content-info-welcome button {
        width: 100%;
    }

    .content-info-img {
        display: none;
    }


    .content-services {
        flex-direction: column;
        gap: 16px;
        margin: 24px auto;
        padding: 0 20px;
    }

    .content-services div {
        width: 100%;
        padding: 24px 20px;
    }

    .gallery {
        flex-direction: column;
        padding: 24px 20px;
        gap: 16px;
    }

    .gallery img {
        width: 100%;
    }

}